<a href="https://colab.research.google.com/github/EisaacJC/Ciencia-de-Datos-Personal/blob/master/Descenso_por_el_gradiente.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Facultad de Física, Universidad Veracruzana
## Introducción a la ciencia de datos.
### Descenso por el gradiente

Descripción del problema matemático, consideremos una función costo, con el objetivo de encontrar los extremos de ésta función derivamos parcialmente respecto a las componentes de la función, haciendo uso de la hipótesis lineal


<b>Función Costo</b>
\begin{equation}
J(\theta) = 1/2m \sum_{i=1}^{m} (h(\theta)^{(i)} - y^{(i)})^2 
\end{equation}

<b>Derivada de la función costo con respecto de las variables $\theta_i$ </b>

\begin{equation}
\frac{\partial J(\theta)}{\partial \theta_j} = 1/m\sum_{i=1}^{m}(h(\theta^{(i)} - y^{(i)}).X_j^{(i)}
\end{equation}

<b>Expresión numérica para cada "gradiente" </b>
\begin{equation}
\theta_0: = \theta_0 -\alpha . (1/m .\sum_{i=1}^{m}(h(\theta^{(i)} - y^{(i)}).X_0^{(i)})
\end{equation}
\begin{equation}
\theta_1: = \theta_1 -\alpha . (1/m .\sum_{i=1}^{m}(h(\theta^{(i)} - y^{(i)}).X_1^{(i)})
\end{equation}
\begin{equation}
\theta_2: = \theta_2 -\alpha . (1/m .\sum_{i=1}^{m}(h(\theta^{(i)} - y^{(i)}).X_2^{(i)})
\end{equation}

\begin{equation}
\theta_j: = \theta_j -\alpha . (1/m .\sum_{i=1}^{m}(h(\theta^{(i)} - y^{(i)}).X_0^{(i)})
\end{equation}

In [0]:
#importando librerias
import numpy as np
import matplotlib.pyplot as plt
import seaborn as ns
import pandas as pd
%matplotlib inline

In [0]:
#Adqusición de datos:
dent=pd.read_csv("https://raw.githubusercontent.com/EisaacJC/DCI/master/datosEntrenamiento.csv?token=ACRPZCPCCRSVX2HGD4RH5RC56FTNS")
dprb=pd.read_csv("https://raw.githubusercontent.com/EisaacJC/DCI/master/datosPrueba.csv?token=ACRPZCPZQCVZLPD6IQ2VFKK56FTXQ")
dval=pd.read_csv("https://raw.githubusercontent.com/EisaacJC/DCI/master/datosPrueba.csv?token=ACRPZCMUNUK5L33AHNILABC56FUBQ")

In [8]:
#

      21.99  58.96  1014.09   61.3  453.38
0     14.86  44.71  1018.30  49.46  466.38
1     17.40  63.09  1020.84  92.58  453.00
2     18.25  60.10  1009.72  90.15  456.25
3     24.40  62.26  1011.62  70.10  439.06
4     11.04  41.74  1022.60  77.51  477.20
...     ...    ...      ...    ...     ...
6692   8.73  41.92  1029.41  89.72  480.99
6693  21.92  49.02  1009.29  88.56  443.31
6694  10.20  41.01  1021.39  96.64  468.27
6695  19.67  59.39  1014.07  77.67  447.61
6696  10.62  42.02   999.83  96.66  472.41

[6697 rows x 5 columns]